@{
    ViewBag.Title = "Home Page";
}


    <div class="jumbotron" style="background-color:antiquewhite">
        <h1>MVC ASP.NET</h1>
        <p class="lead">Welcome to Website.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">

            <img src="~/image/google.png" width="40px"/>
            <h3>Google</h3>
            <p></p>
            <p><a class="btn btn-default" href="https://www.google.com/" target="_blank">Click me &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <img src="~/image/youtube.png" width="40px"/>
            <h3>YouTube</h3>
            <p></p>
            <p><a class="btn btn-default" href="https://www.youtube.com/" target="_blank">Click me &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <img src="~/image/facebook.png" width="40px"/>
            <h3>FaceBook</h3>
            <p></p>
            <p><a class="btn btn-default" href="https://www.facebook.com/" target="_blank">Click me&raquo;</a></p>
        </div>
    </div>
