@using MVCProject.Controllers
@model List<MVCProject.Models.CourseEntity>
    <table style="width: 100%;" id="studenttbl" class="table table-striped dataTable no-footer">
        <thead>
            <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
                <th>
                    Course Name
                </th>
                <th>
                    CourseDepartment
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>
            </tr>
        </thead>
        <tbody></tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(Model => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.CourseDept)
                </td>
                <td>
                    @*@Html.ActionLink("Edit","Edit", new { id=item.CourseID})*@
                    <a href="@Url.Action("Edit", new { item.CourseID, item.CourseName, item.CourseDept})" class="btn btn-success">Edit</a>
                </td>
                <td>
                    @*@using (Html.BeginForm("DeleteCourse", "SingleEntry", new { id = item.CourseID }))
                    {

                        <input type="submit" value="Delete" />

                    }*@
                    <a href="@Url.Action("DeleteCourse", new { item.CourseID})"class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }

    </table>
