@model MVCProject.Models.city





<option value="">--Select City--</option>
@if (ViewBag.cityoption != null)
{
    foreach (var item in ViewBag.cityoption)
    {
        <option value="@item.Value">@item.Text</option>
    }
}
