@model MVCProject.Models.state
    <option value="">--Select States--</option>
@if (ViewBag.Slist != null)
{
    foreach(var item in ViewBag.Slist)
                {
                    <option value="@item.Value">@item.Text</option>
                }
}

